/* This CSS file for project Mernieks - includes all CSS formating.*/

/*First formating part is for main project sections - includes body formating, overal content formating and project section formating */
body 
{
	background-color:#282828;
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

.content
{
	background-image: url("img/fons_gaiss_texture.png");
	overflow:hidden;
}
.section-container
{
	padding-left:85px;
	padding-right:85px;
	overflow:hidden;
}
.section-container-b
{
	padding-left:85px;
	padding-right:85px;
	background-image: url("img/brunais_fons.png");
	overflow:hidden;
}
.section-name
{

	border-bottom: 1px dashed #7f7065;
	text-transform: uppercase;
}
.section-name h1
{
	text-align: center;
	font-size: 25.68px;
	padding:28px;
	color:#9d8343;
	text-transform: uppercase;
	margin:0;
	font-weight:normal;
}
/* Header section formating - includes LOGO, Main menu and Language switcher */

.header-container
{
	padding-left:85px;
	padding-right:85px;
	overflow:hidden;
	background-color: #473a2d;
}
.header-container a 
{
	text-decoration:none;
	padding: 10px 5px;
	color: white;
}
.header-container li:hover
{
	background: #5b4d3b;	
}
.logo
 {
	display:block;
	float:left;
	width: 180px;
	padding: 20px 20px 0 0;
}
.navigation-container
{
	display:block;
	float:right;
	color:white;
	font-size:12.84px;
}
.navigation
{ 
	display:block;
	float:left;
	margin-top:13px;
}
.navigation ul
{
	display:inline-block;
	margin:12px 0;
	padding-left:0;
	padding-right:30px;
}
.navigation ul li 
{
	display:inline-block;
	margin:0;
	padding:7px;
}

.language
{
	border-left: 1px solid white;
	display:block;
	float:right;
	margin-top:13px;

}
.language li
{
	display:inline-block;
	padding:7px;
}

.language ul
{
	display:inline-block;
	padding-left:30px;
	margin:12px 0;
}
/* Slider area formating - includes Slide image, Slide heading and text, Buttons (previos, next, and bottom buttons)*/

.slider-container
{
	Display:block;
	position:relative;
    z-index:1;
	overflow:hidden;
}
.slider-container>img
{
	width:100%;
	z-index:-2;
}
.slide-heading
{
	background-color: rgba(0,0,0,0.5);
	display:block;
	margin: 10px;
	color:white;
	padding:10px 18px;
	width:200px;
}
.slide-heading h1
{
	margin: 0;
	font-size:37.66px;
	font-weight:normal;
}
.slide-text-container
{
	position:absolute;
	left:15%;
	bottom:120px;
}
.slide-text
{
	background-color: rgba(0,0,0,0.5);
	display:inline-block;
	margin: 10px;
	color:white;
	line-height:36px;
	padding:10px 18px;
}
.slide-text p
{
	margin:0;
	font-size:20.54px;
}

.slider-prev
{
	position:absolute;
	left:5%;
	top:50%;
	transform: translateY(-50%);
}

.slider-next
{
	position:absolute;
	right:5%;
	top:50%;
	transform: translateY(-50%);
}
.slider-buttons-bottom
{
	position:absolute;
	bottom:15px;
	left:50%;
	transform: translateX(-50%);
}
.slider-buttons
{
	border:3px solid #B1926E;
	background:#B1926E;
	border-radius:50%;
	padding:5px;
	margin:5px;
	height:15px;
	width:15px;
}
.slider-buttons.active
{
	background:#D9CABF;
}
.slider-navi
{
	background:transparent;
	border:none;
}


/* Services area formating. Includes - service discription columns */

.services-container
{
	overflow:hidden;
}

.services-column
{
	display:block;
	float:left;
	width:33.3%;
	margin-top:30px;
	overflow:hidden;
}

.services-image img
{
	padding-right:20px;
	float:left;
}
.services-text
{
	color:#473a15;
	overflow: hidden;
	padding-right:30px;
	font-size:13.69px;
}
.services-text li
{
	margin-bottom:12px;
}
.services-text ul
{
	list-style-type: none;
	padding-left:0;
}

.services-text h2
{
	color:#473a15;
	overflow: hidden;
	padding-right:10px;
	font-size:20.54px;
	font-weight:bold;
}

/* Formating for pricing area */

.prices
{
	width:100%;
	overflow:hidden;
	padding-bottom:40px;
}
.pricing-column-container
{
	display:block;
	float:left;
	width:50%;
}
.pricing-column1
{
	padding-right:25px;
}

.pricing-column2
{
	padding-left:25px;
}

.pricing-column-text
{
	color:#685e46;
	font-size:15.41px;
	line-height:30px;
	font-weight:600;
	padding:20px 0;
}

.pricing-column-table
{
	color:#685e46;
	font-size:13px;
}
.pricing-column-table table
{
	table-layout: fixed;
	width:100%;
	border-collapse: collapse; 
	padding:15px;
	border-bottom:thin solid;
	border-color:#dfd9cf;
}
.pricing-column-table table th
{
	padding:10px 15px;
	width:93%;
	border-bottom:thin solid;
	border-color:#dfd9cf;
	font-weight:normal;
	text-align:left;
}
.pricing-column-table table th+th
{
	width:7%;
	font-size:17px;
	text-align:center;
	font-weight:600;
}
.pricing-column-table table td
{
	padding:10px 15px;
	width:93%;
}
.pricing-column-table table td+td
{
	width:7%;
	font-size:17px;
	text-align:center;
	font-weight:600;
}
.pricing-column-table table tr:nth-child(even) 
{
	background-color:#f2ebe1;
} 

/* About us area formating. Includes - introductioning text on top, Employee name and contacts, Certification information, Employee discription */ 

.about-introductioning-text
{
	padding-top:30px;
	color:white;
}
.about-column
{
	float:left;
	width:50%;
	text-align:center;
	height:300px;
	color:#c7a457;
}
.about-column-bottom
{
	float:left;
	width:50%;
	text-align:left;
	overflow:hidden;
	color:white;
}
.certificate-container
{
	display:block;
	width:95%;
	height:65px;
	background-color:#624e36;
	margin:auto;
}
.certificate-list
{
	display:table;
	height:45px;
	margin:auto;
}
.certificate
{
	display:inline-block;
	margin:10px;
}
.certificate-image
{
	display:block;
	float:left;
}
.certificate-info
{
	display:block;
	float:left;
	width:150px;
	font-size:11.13px;
	line-height:15.41px;
	padding-left:10px;
	text-align:left;
}
.emloyee-discription
{
	padding:15px;
	font-size:13.69px;
	line-height:25.68px;
}
.emloyee-name
{
	font-size:30.81px;
}
.emloyee-contacts
{
	font-size:15.41px;
	line-height:20.54px;
}

/* Client LOGO placement and formating*/

.client-container
{
	padding-left:85px;
	padding-right:85px;
	Display:block;
	position:relative;
    z-index:1;
	overflow:hidden;
}
.client-logos
{
	padding-bottom:30px;
	padding-top:20px;
	text-align: justify;
}
.client-logos:after 
{
	content: "";
	width: 100%;
	display: inline-block;
}
.client-logos img
{
	display:inline-block;
	padding:15px;
	filter:grayscale(90%);
	-webkit-filter:grayscale(90%);
	-moz-filter:grayscale(90%);
	-o-filter:grayscale(90%);
	-ms-filter:grayscale(90%);
}
.client-logos img:hover
{
	filter:grayscale(0);
	-webkit-filter:grayscale(0);
	-moz-filter:grayscale(0);
	-o-filter:grayscale(0);
	-ms-filter:grayscale(0);
}

/* Formating for contact area */

.map
{
	display:block;
	width:33.3%;
	float:left;
	margin:75px 0 30px 0;
}
.contact-form
{
	display:block;
	width:33.3%;
	float:left;
	padding-top:59px;
	padding-bottom:20px;
	color:#9d8343;
}
.contact-form p
{
	color:#f9e09e;
}
.contact-information
{ 
	display:block;
	float:left;
	width:33.3%;
	padding-top:30px;
	text-align:center;
	color:#9d8343;
}
.contact-information address
{
	font-style:normal;
}
.contact-information a
{
	text-decoration:none;
	color:#f9e09e;
}

form input 
{
	background-color:#7f6c42;
	color:#a38a55;
	border:none;
	padding:8px 5px;
	margin:5px;
}
form textarea
{
	margin:5px;
	background-color:#7f6c42;
	color:#a38a55;
	border:none;
	padding:9px;
}
input[type=submit] 
{
    width: 100px;
	height: 30px;
	color:#f9e09e;
	font-weight: bold;
	vertical-align:middle;
}

/* To Top button formating and plasment*/

.to-top
{
	display:block;
	background-color:#bfb399;
	position:fixed;
    right: 2%;
    bottom: 20px;
	border:1px solid white
}
.to-top img
{
	padding:5px;
	opacity:0.4;
}
.to-top img:hover
{
	padding:5px;
	opacity:1;
}